{% extends '_template.html' %}
{% block content %}
<style>
  /* Set the width of the DateLoaded column to auto */
  #mytable th:nth-child(1),
  #mytable td:nth-child(1) {
      width: 100px;
  }
  #mytable th:nth-child(6),
  #mytable td:nth-child(6) {
      width: 120px;
  }
</style>
<div align=center>
  <h2 id="nameInput">Collector Worklist for: {{ user.get("name") }}</h2>
  <div>
    
    <p>Key in your input to filter the table:</p>

    <input type="text" id="myinput" placeholder="Search..." title="Type in something"><p>

    <p>Click on the header of a column to sort the table:</p>

    <table class="table table-bordered table-sm table-striped table-hover">
      <thead class="table-dark"><tr>
        <th><span id="DateLoaded" class="w3-button table-column">ListDate<i class="caret"></i></span></th>
        <th><span id="StarmarkID" class="w3-button table-column">DebtID<i class="caret"></i></span></th>
        <th><span id="DebtNo" class="w3-button table-column">DebtNO<i class="caret"></i></span></th>
        <th><span id="CltRefNo" class="w3-button table-column">CltRefNo<i class="caret"></i></span></th>
        <th><span id="Name" class="w3-button table-column">Name<i class="caret"></i></span></th>
        <th><span id="Phone" class="w3-button table-column">Phone</span><i class="caret"></i></span></th>
        <th><span id="CallCount" class="w3-button table-column">CallCount<i class="caret"></i></span></th>
        <th><span id="CurBalance" class="w3-button table-column">CurBalance<i class="caret"></i></span></th>
        <th><span id="StatusCode" class="w3-button table-column">StatusCode<i class="caret"></i></span></th>
        <th><span id="descr" class="w3-button table-column">Descr<i class="caret"></i></span></th>
        <th><span id="ClientID" class="w3-button table-column">ClientID<i class="caret"></i></span></th>
        <th><span id="ClientName" class="w3-button table-column">ClientName<i class="caret"></i></span></th>
        <th><span id="Worklist" class="w3-button table-column">Worklist<i class="caret"></i></span></th>
      </tr></thead>
      <tbody id="mytable"></tbody>
    </table>
  </div> 
</div>
<script>

var table = document.getElementById('mytable');
var input = document.getElementById('myinput');
var dataFromPython = '{{ data | tojson | safe }}';
var parsedData = JSON.parse(dataFromPython);
var tableData = parsedData;
var caretUpClassName = 'fa fa-caret-up';
var caretDownClassName = 'fa fa-caret-down';
var name = nameInput.textContent || nameInput.innerText;
var wList = '{{ worklist }}';






const sort_by = (field, reverse, primer) => {

  const key = primer ?
    function(x) {
      return primer(x[field]);
    } :
    function(x) {
      return x[field];
    };

  reverse = !reverse ? 1 : -1;

  return function(a, b) {
    return a = key(a), b = key(b), reverse * ((a > b) - (b > a));
  };
};


function clearArrow() {
  let carets = document.getElementsByClassName('caret');
  for (let caret of carets) {
    caret.className = "caret";
  }
}


function toggleArrow(event) {
  let element = event.target;
  let caret, field, reverse;
  if (element.tagName === 'SPAN') {
    caret = element.getElementsByClassName('caret')[0];
    field = element.id;
  } else {
    caret = element;
    field = element.parentElement.id;
  }

  let iconClassName = caret.className;
  clearArrow();
  if (iconClassName.includes(caretUpClassName)) {
    caret.className = `caret ${caretDownClassName}`;
    caret.classList.add('caret-down');
    caret.classList.remove('caret-up');
    reverse = false;
  } else {
    caret.className = `caret ${caretUpClassName}`;
    caret.classList.add('caret-up');
    caret.classList.remove('caret-down');
    reverse = true;
  }

  parsedData.sort(sort_by(field, reverse));
  populateTable();
}

function populateTable() {
  table.innerHTML = '';

  for (let data of tableData) {
    if(data.Worklist == wList) {
      let row = table.insertRow(-1);

      let DateLoaded = row.insertCell(0);
      DateLoaded.innerHTML = data.DateLoaded;

      let StarmarkID = row.insertCell(1);
      StarmarkID.innerHTML = data.StarmarkID;

      let DebtNo = row.insertCell(2);
      DebtNo.innerHTML = data.DebtNo;

      let CltRefNo = row.insertCell(3);
      CltRefNo.innerHTML = data.CltRefNo;

      let Name = row.insertCell(4);
      Name.innerHTML = data.Name;

      let Phone = row.insertCell(5);
      Phone.innerHTML = `${formatPhoneNumber(data.Phone)}`;

      let CallCount = row.insertCell(6);
      CallCount.innerHTML = Number(data.CallCount);

      let CurBalance = row.insertCell(7);
      CurBalance.innerHTML = Number(data.CurBalance);
      
      let StatusCode = row.insertCell(8);
      StatusCode.innerHTML = Number(data.StatusCode);
      
      let descr = row.insertCell(9);
      descr.innerHTML = data.descr;
      
      let ClientID = row.insertCell(10);
      ClientID.innerHTML = data.ClientID;
      
      let ClientName = row.insertCell(11);
      ClientName.innerHTML = data.ClientName;

      let Worklist = row.insertCell(12);
      Worklist.innerHTML = data.Worklist;
    }
    }
  
  
  

  

  filterTable();
}

function formatCurrency(amount) {
			return new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(amount);
		}

function formatPhoneNumber(phoneNumber) {
    // Remove non-numeric characters from the phone number
    const numericPhoneNumber = phoneNumber.replace(/\D/g, '');

    // Format the numeric phone number into a human-readable format
    const formattedPhoneNumber = numericPhoneNumber.replace(/(\d{3})(\d{3})(\d{4})/, '($1) $2-$3');

    return formattedPhoneNumber;
}


function filterTable() {
  let filter = input.value.toUpperCase();
  rows = table.getElementsByTagName("TR");
  let flag = false;

  for (let row of rows) {
    let cells = row.getElementsByTagName("TD");
    for (let cell of cells) {
      if (cell.textContent.toUpperCase().indexOf(filter) > -1) {
        if (filter) {
          cell.style.backgroundColor = 'yellow';
        } else {
          cell.style.backgroundColor = '';
        }

        flag = true;
      } else {
        cell.style.backgroundColor = '';
      }
    }

    if (flag) {
      row.style.display = "";
    } else {
      row.style.display = "none";
    }

    flag = false;
  }
}


populateTable();

let tableColumns = document.getElementsByClassName('table-column');

for (let column of tableColumns) {
  column.addEventListener('click', function(event) {
    toggleArrow(event);
  });
}

input.addEventListener('keyup', function(event) {
  filterTable();
});
</script>
{% endblock %}