{% extends '_template.html' %}
{% block content %}
	<head>
	<style>
		ul {
			list-style: none;
		}
	</style>
	</head>
	<div align=center>
    <h1>Welcome to Starmark Advantage!</h1>
    <h3>Good morning {{ user.get("name") }}</h2>

    <ul>
    {% if config.get("ENDPOINT") %}
      <li><a href='/dailyreport'>Collector Worklist</a></li>
    {% endif %}
    {% if user.get("name") == "Robert Piperno" %}
      <li><a href='/admindaily'>Admin Worklist Report</a></li>
    {% endif %}
    {% if user.get("name") == "Alex Petras" %}
      <li><a href='/inventory'>Inventory Report</a></li>
    {% endif %}
    {% if config.get("B2C_PROFILE_AUTHORITY") %}
      <li><a href='{{config.get("B2C_PROFILE_AUTHORITY")}}?client_id={{config.get("CLIENT_ID")}}'>Edit Profile</a></li>
    {% endif %}

    <li><a href="/logout">Logout</a></li>
    </ul>

    </div>
    {% endblock %}
